# no ssh files
ssh/
.ssh/

# temporary files
*~
\#*\#

# org-roam db indexing
*.db

# no emacs custom files
ac-comphist.dat
auto-save-list/
bookmarks
.cache/
elpa/
eshell/
games/
.gitignore~
init.el~
lsp-cache/
.lsp-session-v1
private/
projectile-bookmarks.eld
projectile.cache
recentf*
session.*
transient/
url/
/elpy/
/smex-items
/*.sqlite
/index.sqlite-shm
/index.sqlite-wal
/var/
.last-package-update-day
custom.el

# ignore native emacs compilation caches
eln-cache/
